.ax-pagination {
    clear: both;
	padding: 30px 0 40px;
}
.ax-pagination *{
	font: 14px SegoeUIRegular;
}
.ax-pagination a{
	text-decoration: none !important;
}

.ax-pagination .ax-show-more-pagination {
    display: block;
    margin: 0 auto 30px;
	text-decoration: none;
	background: #3983DF;
    padding: 10px;
    width: 97%;
}
.ax-pagination .ax-show-more-pagination:hover {
	background: #ED5979;
}

.ax-pagination .ax-link{
	color: #0758f6;
	text-decoration: none;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}
.ax-pagination .ax-link:active{
	text-decoration: none;
}
.ax-pagination .ax-link:hover{
	color: #000;
}
.ax-pagination .ax-link.ax-dotted-link{
	font: 14px SegoeUIRegular;
    color: white;
}
.ax-pagination .ax-link.ax-dotted-link:hover{
	border-bottom-color: #000;
}
.ax-pagination .ax-no-more{
	color: #000;
}

.ax-pagination .ax-pagination-container {
	text-align: center;
	position: relative;
}
.ax-pagination .ax-pagination-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.ax-pagination .ax-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px 2px;
}
.ax-pagination .ax-pagination-container ul li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	padding: 0 8px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #4a5060;
    font: 14px SegoeUIRegular;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ax-pagination .ax-pagination-container ul li a {
	text-decoration: none;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	font: 14px SegoeUIRegular;
    color: white;
	vertical-align: middle;
}
.ax-pagination .ax-pagination-container ul li a:hover span{
	color: #000;
}
.ax-pagination .ax-pagination-container ul li.ax-active span{
	background: #0083d1;
	color: #fff;
}
.ax-pagination .ax-pagination-container ul li.ax-pag-prev{
	margin-right: 30px;}
.ax-pagination .ax-pagination-container ul li.ax-pag-next{
	margin-left: 30px;
}
.ax-pagination .ax-pagination-container ul li.ax-pag-all a span,
.ax-pagination .ax-pagination-container ul li.ax-pag-prev a span,
.ax-pagination .ax-pagination-container ul li.ax-pag-next a span {
	line-height: 28px;
	padding: 0 18px;
	color: #4a5060;
    font: 14px SegoeUIRegular;
}
.ax-pagination .ax-pagination-container ul li.ax-pag-all span,
.ax-pagination .ax-pagination-container ul li.ax-pag-prev span,
.ax-pagination .ax-pagination-container ul li.ax-pag-next span{
	color: #bebebe;
	line-height: 28px;
	padding: 0 18px;
}
.ax-pagination .ax-pagination-container ul li.ax-pag-all a:hover span,
.ax-pagination .ax-pagination-container ul li.ax-pag-prev a:hover span,
.ax-pagination .ax-pagination-container ul li.ax-pag-next a:hover span {
	background: #fff;
	color: #000;
}

/*color schemes*/
.ax-pagination.ax-grey .ax-pagination-container ul li.ax-active span{
	background: #e3e3e3;
	color: #000;
	height: 20px;
}
