				/* Слайдеры товаров */
.recomend__product .h2 {
    padding-left: 0;
    font-size: 28px !important;
    font-family: Open Sans !important;
}

.recomend__product .owl-carousel {
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-block .price {
    display: block;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #4a5060 !important;
}

.product-wrap {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33.3%;
    height: 285px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.recomend-slider .product-block {
    padding-top: 0 !important;
}

.product-block {
	position: relative;
    background: #fff;
    border: 1px solid #eceff5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 285px !important;
    overflow: hidden;
    padding: 5px;
}

.product-block .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 0 5px 0 18px !important;
    width: 100%;
    min-height: 50px;
}

.product-block .desc-product {
    font-size: 14px;
    color: #929fb0;
    margin-bottom: 20px;
	padding: 0 5px 0 5px;
	padding-left: 10px;
    text-wrap: normal;
    width: 100%;
    min-height: 50px;
}

.desc-product a {
    font-size: 14px;
    color: #929fb0;
    margin-bottom: 20px;
    text-wrap: normal;
    width: 200px;
}

.product-block .desc-product a {
    color: #4a5060 !important;
}

.product-block .buscket {
    margin-left: 20px;
    display: block;
    width: 160px;
    height: 35px;
    background: #3983df;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
    -webkit-transition: background .3s;
    transition: background .3s;
    text-decoration: none;
    width: auto !important;
    margin-right: 20px;
}

.recomend__product .slick-slider .slick-list {
    margin: 0 -15px;
}

.product-block img {
    width: 100%;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
	margin-top: 20px;
	display: block;
}

.product-block .desc-product a {
    font-size: 14px !important;
    font-weight: 400;
}

.article h2 {
	margin-bottom: 15px;
	margin-top: 15px;
	color: #4A5160;
	font-size: 2rem;
	line-height: 3.375rem;
	font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.article {
    margin-bottom: 35px;
}

.article p {
    margin: 10px 0;
    line-height: 20px;
}

p {
    color: #68788E;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.article ul li:before {
    position: absolute;
    left: 0;
    top: 8px;
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #4A5160;
    border-radius: 50%;
}

.article ul li {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #68788E;
    margin-bottom: 15px;
    padding-left: 15px;
}
.tags-item__text.active{
    color:#3983df;
}

.product-block {
    height: auto !important;
    background: #f5f6f9 !important;
    border: none !important;
    padding: 8px 8px 15px 8px !important;
}

.owl-carousel .owl-item img {
        height: auto !important;
}

.product-block a:hover {
	opacity: 1 !important;
}

.sticker {
    padding: 2px 10px !important;
    min-width: 30px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.sticker img.sticker-img{
    width: 8px !important;
    float: left;
    margin-top: 6px !important; 
    margin-right: 5px;
}
.top-2 {
    top: 21px !important;
}

.owl-item {
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
}

.product-block * {
    font-family: Open Sans !important;
    text-decoration: none;
}

.like i {
	font: normal normal normal 14px/1 FontAwesome !important;
	color: #d2cdca;
}
.like i.active{
    color: #3983df;
}

body .product-block .desc-product a {
    font-family: "Open Sans" !important;
}

.product-block img {
	margin-top: 8px !important;
}

body .product-block .buscket {
    display: none !important;
}

.product-block .desc-product {
    margin-bottom: 0px !important;
}

.top-3 {
    top: 43px !important;
}

.owl-nav {
    position: absolute;
    top: -40px;
    right: 0;
}

.owl-nav button span {
    font-size: 40px;
    color: #3983df;
    margin: 0 10px;
}

.w1510_menuTags_wrap {
    background: #f5f6f9;
    padding: 20px;
}

.w1510_menuTags {
    margin-bottom: 50px;
    margin-top: 30px;
}

.w1510_menuTags_item {
    width: 19%;
    margin: 10px 0;
    min-width: 200px;
    display: inline-block;
}

.w1510_menuTags_item a {
    color: #4a5060 !important;
    text-decoration: none !important;   
}

.w1510_menuTags_item a span {
    color: #c4c4c4 !important;
}

.catalog {
    padding-bottom: 60px !important;
}




@media (max-width: 600px) {
    .recomend__product .owl-carousel {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}


/*Модальное окно Товар добавлен в корзину*/
    #openBuyProduct.popup-window{
        width:700px;
        height:auto !important;
    }
    #popup-window-overlay-openBuyProduct.popup-window-overlay{
        background-color: initial;
        background: #333;
        opacity: 0.3;
    }
    .modal-busket__dialog {
        position: relative;
        pointer-events: auto;
        width: 640px;
        max-width: 90%;
    }

    .modal-call__close-btn {
        position: absolute;
        top: 12px;
        display: block;
        width: 10px;
        height: 10px;
        overflow: hidden;
        right: 12px;
        transition: background .3s;
    }

    .modal-busket__container {
        background: #fff;
        padding: 25px 40px 25px 30px;
    }

    .modal-busket__title {
        font-size: 20px;
        font-family: 'Open Sans';
        color: #4a5060;
        margin-bottom: 10px;
    }

    .modal-busket__desc {
        font-size: 14px;
        color: #929fb0;
        margin-bottom: 15px;
    }

    .modal-busket__content {
        margin-right: -40px;
        margin-left: -30px;
        padding-left: 30px;
        padding-right: 40px;
        border-top: 1px solid #eceff5;
        border-bottom: 1px solid #eceff5;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
    }

    .modal-busket__bottom {
        padding-top: 20px;
        display: flex;
    }

    .modal-busket__desc-link {
        color: #4c83fb;
        text-decoration: underline;
        transition: all .3s;
    }

    .modal-busket__content-left {
        flex: 0 0 140px;
        margin-right: 20px;
    }

    .modal-busket__img-container {
        text-align: center;
        overflow: hidden;
    }

    .modal-busket__img {
        max-width: 100%;
        height: auto;
    }

    .modal-busket__content-right {
        padding-top: 6px;
        position: relative;
        padding-right: 130px;
    }

    .modal-busket__price {
        font-size: 20px;
        color: #4a5060;
        font-family: 'Open Sans';
        margin-bottom: 0 !important;
    }
    .modal-busket__count {
        color: #4a5060;
        margin-bottom: 10px;
        font: 18px 'SegoeUISemibold';
    }
    .modal-busket__subinfo {
        font-size: 14px;
        color: #929fb0;
        line-height: 20px;
        margin-bottom: 7px;
    }

    .modal-busket__delete-item {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #dcdee2;
        position: absolute;
        right: 0;
        top: 50%;
        transition: all .3s;
        transform: translateY(-50%);
    }
    .modal-busket__container * {
        font-family: "Open Sans" !important;
    }
    .modal-busket__content-right {
        padding-right: 0 !important;
        padding-left: 20px;
    }
    .modal-busket__сheckout-btn:hover, .modal-busket__return-btn {
    	background: transparent !important;
    	border: 1px solid #3983df !important;
    	color: #3983df !important;
    }
    
    .modal-busket__return-btn:hover {
    	background: #3983df !important;
    	color: #fff !important;
    }
    
    @media (max-width: 768px) {
    	.modal-busket__content {
    		padding-top: 25px !important;
    	}
    	.modal-busket__content-right {
    	text-align: center;
    	}
    }
    .modal-busket__delete-item::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .modal-call__close-btn:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .modal-call__close-btn:after, .modal-call__close-btn:before {
        transition: background .3s;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -2px;
        background: #c6cedf;
    }

    .modal-call__close-btn:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .modal-call__close-btn:hover:before, .modal-call__close-btn:hover:after {
        background: #ed5a7a;
    }



    .modal-busket__delete-item::before, .modal-busket__delete-item::after {
        transition: all .3s;
        content: '';
        position: absolute;
        height: 1px;
        width: 13px;
        top: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        background: #a7abb4;
    }

    .modal-busket__delete-item::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .modal-busket__return-btn {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        min-width: 195px;
        background: #eceff5;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
        color: #929fb0;
        transition: all .3s;
        text-decoration: none;
    }

    .modal-busket__return-btn:hover, .modal-busket__сheckout-btn:hover {
        opacity: 0.85;
    }

    .btn-def, INPUT[name=BuyButton] {
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        display: inline-block;
        background: #3983df;
        min-width: 120px;
        padding: 0 10px;
        font-size: 14px;
        border-radius: 2px;
        border: 0;
        outline: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: all .3s;
    }

    .modal-busket__сheckout-btn {
        margin-left: auto;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 0px;
        min-width: 165px;
        text-decoration: none;
    }

    .modal-busket__delete-item:hover {
        border-color: #ed5979;
    }

    .modal-busket__delete-item:hover:before, .modal-busket__delete-item:hover:after {
        background: #ed5979;
    }

@media only screen and (max-width: 736px) {
   #openBuyProduct.popup-window{
        width: auto;
        height:auto !important;
    }
    .modal-busket__dialog {
        width: 280px;
        text-align: center;
    }

    .modal-busket__container {
        padding: 25px;
    }

    .modal-busket__title {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .modal-busket__desc {
        line-height: 20px;
    }

    .modal-busket__content {
        flex-wrap: wrap;
        padding-top: 0;
        border-top: 0;
        margin-right: -25px;
        margin-left: -25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .modal-busket__content-left {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 13px;
    }

    .modal-busket__content-right {
        padding-top: 0;
        padding-right: 0;
    }

    .modal-busket__subinfo {
        padding: 0 25px;
    }

    .modal-busket__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .modal-busket__return-btn {
        margin-bottom: 10px;
    }

    .modal-busket__сheckout-btn {
        margin-left: 0px;
    }
}
.setting-product.offer-property-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 38px;
}
.setting-product.offer-property-change label {
    width: 48%;
    border: 1px solid #eceff5;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.setting-product.offer-property-change label p {
    width: 80px;
    padding-top: 8px;
    background: #f8f9fc;
    font-size: 12px;
    color: #929fb0;
    text-align: center;
}

.setting-product.offer-property-change select {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    font-size: 14px;
    color: #4a5060;
    border: 0;
    outline: 0;
    background: #fff;
}
.modification-product.setting-product{
    margin: 20px 0;
}
.modification-product.setting-product .setting-title {
    position: relative;
    margin-bottom: 17px;
    width: 100%;
}
.modification-product.setting-product .setting-product .setting-title span {
    font: 12px SegoeUISemiBold;
    color: #4a5060;
    position: relative;
    margin-left: 30px;
    padding-left: 5px;
    padding-right: 13px;
    z-index: 1;
    background: #fff;
}
.modification-product.setting-product .count-element {
    overflow-x: auto;
    width: 100%;
}
.modification-product.setting-product .count-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.modification-product.setting-product .quantity {
    position: relative;
    width: 18px;
    height: 38px;
    margin-right: 13px;
}
.modification-product.setting-product .quantity.active2 input[type=number] {
    background: #3983df;
    cursor: pointer;
    border-color: #3983df;
}
.modification-product.setting-product .quantity input[type=number] {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #eceff5;
    font-size: 11px;
    color: #fff;
    text-align: center;
    z-index: 5;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
.modification-product.setting-product .quantity input[type=number]::-webkit-outer-spin-button,
.modification-product.setting-product .quantity input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.modification-product.setting-product .quantity input[type=number] {
    -moz-appearance:textfield;
}
.modification-product.setting-product .quantity .quantity-nav {
    position: relative;
    left: 78%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    height: 38px;
    width: 18px;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.modification-product.setting-product .quantity .quantity-up {
    position: absolute;
    top: 0;
}
.modification-product.setting-product .quantity .quantity-down {
    position: absolute;
    bottom: 0;
}
.modification-product.setting-product .quantity .quantity-up i {
    position: absolute;
    top: 0;
    line-height: .5;
}

.modification-product.setting-product .quantity .quantity-down i {
    position: absolute;
    bottom: 0;
    line-height: .5;
}
.modification-product.setting-product .title-element {
    font: inherit;
    color: #4a5060;
    margin-right: 5px;
}
.modification-product.setting-product .price-element {
    font: inherit;
    color: #929fb0;
    margin-right: 5px;
}
.modification-product.setting-product .del-element {
    margin-left: 5px;
}
.quantity:hover .quantity-nav{
    display:block !important;
}
/*END -----Модальное окно Товар добавлен в корзину-----*/
#openRecallPopup2{
    margin-top:-100px;
    height: auto !important;
}

.owl-carousel .owl-item img.img-responsive{
   height: 200px !important; 
}

